git "https://github.com/cwoloszynski/Cache.git"
git "https://github.com/cwoloszynski/Crypto.git"
git "https://github.com/cwoloszynski/CanvasKit.git"
git "https://github.com/cwoloszynski/CanvasText.git"